<form #employeeForm="ngForm" ngNativeValidate (ngSubmit)="saveEmployee(employee)">
  <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Create Employee</h3>
      </div>
      <div class="panel-body">
        <div class="form-group" [class.has-error]= "name.invalid && name.touched" [class.has-success]="name.valid">
          <label class="control-label" for="name"> Name</label>
          <input required #name = "ngModel" type="text" name="name" [(ngModel)] = "employee.name" id="name" class="form-control">
          <span class="help-block" *ngIf="name.invalid && name.touched">
             Name is required
          </span>
        </div>
        <!-- ---------------------------------------------------------------------- -->
        <!-- <table border="1" style="border-collapse: collapse; font-family: Arial, Helvetica, sans-serif; table-layout: fixed">
          <tr style="background-color: #aa780c; font-weight: bold">
            <td colspan="3" style="padding:3px; white-space:nowrap; width:100%">
              <h4 style="text-align: center">Full Name Field</h4>
            </td>
          </tr>
          <tr style="background-color:rgb(212, 149, 13); font-weight: bold">
            <td style="padding:10px; white-space:nowrap; width:33%">
            <div>
                 touched: {{fullNameControl.touched}} <br>
                 untouched: {{fullNameControl.untouched}}
            </div>
            </td>
            <td style="padding:10px; white-space:nowrap; width:33%">
              <div>
                pristine: {{fullNameControl.pristine}} <br>
                dirty: {{fullNameControl.dirty}}
              </div>
            </td>
            <td style="padding:10px; white-space:nowrap; width:33%">
              <div>
                valid: {{fullNameControl.valid}} <br>
                invalid: {{fullNameControl.invalid}}
              </div>
            </td>
          </tr>
        </table> -->
        <!-- ---------------------------------------------------------------------- -->
        <div class="form-group" [class.has-error]="email.invalid && email.touched" [class.has-success]="email.valid">
            <label class="control-label" for="email">Email</label>
            <input pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" required #email = "ngModel" [email]="employee.email !==''" type="text" name="eml" [(ngModel)]="employee.email" id="email" class="form-control">
            <span class="help-block" *ngIf= "email.errors?.required && email.touched">
              Email is required
            </span>
            <span class="help-block" *ngIf= "email.errors?.pattern && email.touched">
              Email is invalid
            </span>
        </div>
        <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input type="text" name="phoneNumber" [(ngModel)]="employee.phoneNumber" id="phoneNumber" class="form-control">
        </div>
        <div class="form-group">
          <label>Contact Preference</label>
          <div class="form-control">
            <label class="radio-inline">
              <input type="radio" value="email" name="contactPreference" [(ngModel)] = "employee.contactPreference">
              Email
            </label>
            <label class="radio-inline">
              <input type="radio" value="phone" name="contactPreference" [(ngModel)] = "employee.contactPreference">
              Phone
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>Gender</label>
          <div class="form-control">
            <label class="radio-inline">
              <input type="radio" value="male" name="gender" [(ngModel)] = "employee.gender">
              Male
            </label>
            <label class="radio-inline">
              <input type="radio" value="female" name="gender" [(ngModel)] = "employee.gender">
              Female
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-control">
            <label class="checkbox-inline">
              <input type="checkbox" name="isActive" [(ngModel)] = "employee.isActive">
              Is Active
            </label>
          </div>
        </div>
        <div class="form-group">
            <label for="department">
                Department
            </label>
            <select id="department" name="department" [(ngModel)] = "employee.department" class="form-control">
              <option *ngFor = "let dept of departments" [value]="dept.id">{{dept.name}}</option>
            </select>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="dateOfBirth">Date of Birth</label>
            <input type="text" name="dateOfBirth" [(ngModel)]="employee.dateOfBirth" placement="right" id="dateOfBirth" class="form-control" [bsConfig]="bsDatePicker" bsDatepicker>
          </div>
        </div>
        <div class="form-group">
          <label for="photoPath">Photo Path</label>
          <input type="text" name="photoPath" [(ngModel)]="employee.photoPath" id="photoPath" class="form-control">
        </div>
        <div class="form-group">
          <button type="button" (click)="togglePhotoPreview()"class="btn btn-primary">
            {{isPreview?"Hide ":"Show "}} Preview
          </button>
        </div>
        <div class="form-group">
          <img [src]="employee.photoPath" height="150px" width="150px" *ngIf="isPreview">
        </div>
      </div>
      <div class="panel-footer">
        <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">Save</button>
      </div>
  </div>
</form>
{{employeeForm.value | json}}
<br>
<br>
Our Employee Model : {{employee | json}}